<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Placed on:</strong>
  <%= @order.placed_on %>
</p>

<p>
  <strong>Price:</strong>
  <%= @total_price %>€
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>


<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Order ID</th>
      <th>Pumpkin ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.amount %></td>
        <td><%= line_item.order_id %></td>
        <td><%= line_item.pumpkin_id %></td>
        	
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
